.vertical-spacer {
    margin-top: $global-margin;
    margin-bottom: $global-margin;
}

.top-space {
    margin-top: $global-margin;
}
.bottom-space {
    margin-bottom: $global-margin;
}

.margin-left {
    margin-left: $global-margin;
}
.margin-right {
    margin-right: $global-margin;
}
.padding-left {
    margin-left: $global-margin;
}
.padding-right {
    margin-right: $global-margin;
}