.sticky-page-title-container .is-anchored {
    .page-title {
        font-size: 5px;
    }
    #site-logo {
        width: 50px;
        height: 50px;
    }
}

.sticky-page-title-container .is-stuck {
    display: block;
    color: $black;
    background: $white;
    box-shadow: $box-shadow;
    .page-title {
        font-size: 24px;
    }
    #site-logo-path {
        fill: $green-dark;
    }
    #site-logo {
        width: 50px;
        height: 50px;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -webkit-transform: rotate(360deg);
        /* Chrome, Safari, Opera */
        transform: rotate(360deg);
        transition: all 0.6s ease;
    }
}