<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <header>
        <div class="top-bar">
          <div class="top-bar-left small-order-2 medium-order-1">
            <span class="site-logo">{{logo}}</span>
            <h1 class="site-name">Coconut News</h1>
            <p class="site-slogan">New and vital information for literate coconuts!!!</p>
          </div><!-- end top-bar-left -->
          <div class="top-bar-right small-order-1 medium-order-2">
            <nav>
              <ul class="horizontal menu">
                <li>
                  <a href="#">Welcome: Stephen Merth</a>
                </li>
                <li>
                  <a href="#">My Account</a>
                </li>
                <li>
                  <a href="#">Log out</a>
                </li>
              </ul>
            </nav>
            <nav>
              <ul class="menu show-for-medium">
                <li><input placeholder="Search"
                       type="search"></li>
                <li><button class="button"
                        type="button">Search</button></li>
              </ul>
            </nav>
          </div><!-- end top-bar-right -->
        </div><!-- end top-bar -->
      </header>
    </div>
  </div>
</body>
</html>
