<!-- stays grid-margin-x with or without background -->
<div class="grid-x grid-margin-x">
  <div class="large-12 cell">
    <!-- Off-canvas toggle button -->
    <button class="button main-menu-toggle-button show-for-small-only vertical-spacer"
            data-toggle="offCanvasMain"
            type="button">
    <i class="fa fa-bars"></i>Main Menu</button>
    <!-- Main menu -->
    <nav>
      <ul class="horizontal menu main-menu hide-for-small-only">
        <li>
          <a href="{{root}}index.html">Article Page</a>
        </li>
        <li>
          <a href="{{root}}contributors.html">Contributors Page</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
