{{#ifequal has-background true }}
<div class="grid-x grid-padding-x align-middle vertical-spacer">
    {{else}}
<div class="grid-x grid-margin-x align-middle vertical-spacer">
{{/ifequal}}
    <div class="small-12 topic cell">
        Drupal
    </div>
    <div class="large-auto cell">  
        <h1 class="page-title">Eclipse Hunter Reveals the Science That Can Only Be Done in the Dark</h1>
    </div>
     <div class="large-auto large-shrink cell">  
        <!-- SOCIAL BUTTONS -->
        {{> social-buttons}}
    </div>
</div>
