<div class="sticky-page-title-container" data-sticky-container>
    <div data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="content:top" data-btm-anchor="content:bottom" >
        <div class="grid-x grid-padding-x align-middle">
            <div class="auto shrink cell site-logo">
                <!-- <img src="assets/img/logo-dark.svg" alt="Site Logo"> -->
                {{> logo}}
            </div>
            <div class="auto cell">  
                <h1 class="page-title">Eclipse Hunter Reveals the Science That Can Only Be Done in the Dark</h1>
            </div>
            <div class="auto shrink cell">
                {{> social-buttons}}
            </div>
        </div> <!-- end grid-x -->
    </div> <!-- end data-sticky -->
</div> <!-- end sticky-page-title-container -->