<h2>Recent contributions by NAME-OF-USER</h2>

<ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs" id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Articles</a></li>
    <li class="tabs-title"><a href="#panel2">Comments</a></li>
</ul>
  
<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <p>one</p>
        <p>VIEW OF RECENT ARTICLES GOES HERE</p>
    </div>
    <div class="tabs-panel" id="panel2">
        <p>two</p>
        <p>VIEW OF RECENT COMMENTS GOES HERE</p>
    </div>
</div>